extends layout

block content
  h1 Home Portal
  p.lead This is our primary view for Windows Environment Detection
  //- html
  //-   head
  //-     title= title
  //-   body
  //-     h1= message
  
  hr
  .row
    .col-md-6
      h2 Text View
      block content
        html
          head
            title= title
          body
            p= message
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Graphical View
      p TODO #2 
      p
        a.btn.btn-raised(href='#', role='button') View details »
    //- .col-md-6
    //-   h2 Heading
    //-   p TODO #3
    //-   p
    //-     a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h4 Clear data to prepare for next data
      button.btn.btn-primary(type='clear') Clear