extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-upload.fa-sm
      | Upload Powershell Script to Loader

  //- .btn-group.d-flex(role='group')
  //-   a.btn.btn-success(href='https://github.com/expressjs/multer', target='_blank').w-100
  //-     i.fas.fa-book.fa-sm
  //-     | Multer Documentation
  //-   a.btn.btn-success(href='http://codepen.io/search/pens?q=custom+file+upload&limit=all&type=type-pens', target='_blank').w-100
  //-     i.fas.fa-laptop.fa-sm
  //-     | Customize File Upload

  h3 Upload here
  .row
    .col-md-6
      p This script will be found in root's "/uploads" directory.
      form(role='form', enctype='multipart/form-data', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-form-label.font-weight-bold File Input
          .col-md-6
            input(type='file', name='myFile')
        button.btn.btn-primary(type='submit') Submit
